
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
/*  font-family: 'Bebas Neue', cursive;   */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*  font-family: 'Montserrat', sans-serif;   */

/* DEVICONS file for Skills component */
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');


body {
  text-decoration: none;
  margin: 1%;
  background-color: black;
  /* background-image: url('http://3.bp.blogspot.com/-Kt0EJ0tjwBo/UpYjb_6CxhI/AAAAAAAABDg/gIgLR8Q46kw/s1600/1385558067389.gif'); */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: center;
}


/* All Headers */
h1 {
  font-family: 'Bebas Neue', cursive;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: white;
}


/* All P elements */
p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}


a:visited {
  color: white;
}

a:hover {
  background-color: yellow;
}


.nav-tings {
  position: fixed;
  /* display: flex; */
  /* overflow: hidden; */
  /* top: 0; */ 
  /* right: 0; */
  padding-top: 1%;
  padding-right: 2%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* HEADER */
.header-section {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: url('http://3.bp.blogspot.com/-Kt0EJ0tjwBo/UpYjb_6CxhI/AAAAAAAABDg/gIgLR8Q46kw/s1600/1385558067389.gif');
  /* background-color: white; */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 30%;
  position:fixed;
 
}
/* div in header comoponent */
.header {
  /* position: fixed; */
  font-size: 40px;
  
}

.nav-tings, .statement p   {
  color: black;
}

.nav-tings, .nav-list p { 
color: black;
}

.skills-section, .skillz h1 {
  color: white;
}

.nav-list p {
  color: white;
}

.statement {
  display: flex;
  align-content: center;
  /* position: relative; */
  /* position: fixed; */
  top: 20px;  
}


/* Statements Animation */

.flip-container {
  perspective: 1000;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}


.flip-container:hover .flip-1, .flip-container.flip-container:focus .flip-2 {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d; 
}


.flip-1, .flip-2 {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
}


.flip-1 {
  transform: rotateY(0deg);
  z-index: 2;
}

.flip-2 {
  transform: rotateY(-180deg)
}



/*---Projects section-----*/

/* named on index.js page */
.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  width: 65%;
  /* height: 40vh; */
  display: flex;
  /* justify-content: flex-end; */
}

.projects {
  position: relative;
  float: right;
  /* height: 40vh; */
  display: flex;
  /* justify-content: flex-end; */
  margin-right: 3%;
  
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}


.projects-title {
  color: white;
}

/* individual container named on the project component */
.project-container {
  /* border: 1px solid black;  */
  /* width: 50vw; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 0.5%; */
  width: 350px;
  transition: 3s ease-out;
  line-height: 15px;
  padding: 0;
  /* background-color: white; */
  
}

.project-container:hover .project-header-box {
  transform: translateY(0);
  padding-bottom: 0;
}

.project-header-box {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center;  */
  z-index: 1;
  transform: translateY(200px);
  background-color: black;
  padding-bottom: 10%;
}

.project-duration {
  line-height: 20px;
}



/* named on the index.js page*/
.footer-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Handles are in footer section*/
/* .handles {
  
} */

.about-me-section {
  height: 100vh;
  line-height: 100%;
  font-size: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  /* background-image: url('https://cdn140.picsart.com/236732937035201.gif?r1024x1024'); */
}

.about-me-container {
  border: 12px solid #252627;
  padding: 1%;
  background-color: black;
}

.about-me-container p {
  color: white;
  font-size: 17px;
  text-align: center;
}

.skills-section {
  height: 30vh;
}

.skillz {
  border: 12px solid #252627;
  padding: 1%;
  padding-bottom: 5%;
  margin-right: 3%;
}

.icons {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
i {
  font-size: 50px;
}